.container {
  background-image: url('/images/bacground-mobile.png');
  background-color: RGBA(0, 0, 0, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  padding: 17px 16px 50px;

  @media screen and (min-width: 768px) {
    background-image: url('/images/bacground-desctop.png');
    background-color: RGBA(0, 0, 0, 0.85);
    padding: 22px 0px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
