@import './utils/_utils.less';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 47px;

  @media screen and(min-width: 768px) {
    width: 100%;
    max-width: 1130px;
  }
}

.header__nav--wrapper {
  display: none;

  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.is-visible {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: #2d2d35;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 98px 0px 65px;
}

.header__logo {
  position: absolute;
  z-index: 2;

  width: 77px;
  height: 25px;

  top: 17px;
  left: 16px;

  @media screen and(min-width: 768px) {
    width: 120px;
    height: 36px;
    position: unset;
  }
}

.header__logo--is-hidden {
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
  }
}

.header__open-menu {
  position: absolute;
  top: 17px;
  right: 16px;

  fill: #ffffff;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.header__close-menu {
  position: absolute;
  top: 15px;
  right: 15px;

  fill: #ffffff;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.header__btn {
  .general-btn-styles();

  font-family: Karla-Regular, sans-serif;
  font-weight: 400;

  @media screen and(min-width: 768px) {
    margin: 0;

    padding: 15px 58px;
  }
}

.nav__item {
  color: #ffffff;
  font-family: Myriad Pro, sans-serif;
  font-size: 24px;
  font-weight: 400;

  line-height: 30px;
  text-align: center;

  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 62px;
  }

  @media screen and(min-width: 768px) {
    margin: 0px 54px 0px 0px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    font-family: Karla, sans-serif;
    font-size: 18px;
  }
}
